.elasticbeanstalk/

.idea/*
.DS_Store
.idea

.pyc

*.pyc

*.xml
*.iml

db.sqlite3

staticanalysis.txt

static/sensus/assets/uploads/*
static/sensus/assets/avatars/*
debug.log
# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml

venv/
.vscode/

flower.bak
flower.dat
flower.dir

celerybeat*

Python/settings/local_*.py
portal/node_modules/*

.coverage
coverage.*
.python-version

htmlcov/*
bin/
.envrc
.env*
lib/
.direnv/
pyvenv.cfg
temp/

# Ignore `brew bundle` lock file
Brewfile.lock.json

# Ignore custom local settings
.env.local_*
Makefile@*
Python/settings/dev[0-9]*.py
local_*.ipynb
.ipynb_checkpoints

test_db_dump.sql
coverage_files/*

docker-compose.yml
*pyproject.toml