aniso8601
asgiref
certifi
charset-normalizer
Django
djangorestframework
djangorestframework-simplejwt
graphene
graphene-django
graphql-core
idna
install
promise
psycopg2-binary
PyJWT
python-dotenv
requests
six
sqlparse
text-unidecode
tzdata
urllib3
drf_yasg
